@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: Oswald;
        src: '../assets/fonts/Oswald.ttf';
    }
    @font-face {
        font-family: OpenSans;
        src: '../assets/fonts/OpenSans.ttf';
    }
}

.body {
    font-family: OpenSans;
}

h1, h2, h3, h4, h5 {
    font-family: Oswald;
}

.button {
    @apply px-6 py-4 rounded-sm shadow-sm hover:shadow-lg bg-cyan-600/70 w-fit font-semibold text-xl leading-none text-white;
}